<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" /> -->
    <script src="https://kit.fontawesome.com/8e92b9a9c3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Squada+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="container-fluid">
<header class="bg-body  border-bottom border-black">
  <nav class="navbar navbar-expand-lg bg-body mw-1296px mx-auto">
      <div class="container-fluid p-lg-0">
        <a class="navbar-brand py-lg-0" href="./index.html"><img class="h-auto w-logo-sm w-lg-logo-lg" src="./assets/images/logo.svg" alt="logo"></a>
          <div class=" ms-auto border-start-lg border-lg-black py-lg-10 px-lg-12 d-flex justify-content-between">
            <input id="search" class="d-none bg-body d-lg-block  border-0  minw-228" type="text" placeholder="搜尋作品名稱、藝術家名稱"/>
            <label for="search" class="nav-link  "> 
        <i class="fa-solid fa-magnifying-glass  text-black fs-5 align-middle"></i></label>
          </div>
        <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-bars"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse  bg-white  top-100 bg-lg-body" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-lg-0 text-center  px-3 pb-6 p-lg-0"  >
          <li class="nav-item py-6 border-bottom border-black border-bottom-lg-0 py-lg-10 px-lg-12 border-start-lg border-lg-black ">
            <a class="nav-link fs-6 fs-lg-7 fw-bold text-nowrap" aria-current="page" href="./filter.html">探索</a>
          </li>
          <li class="nav-item py-6 py-lg-10 px-lg-12 border-start-lg  border-lg-black">
            <a class="nav-link fs-6 fs-lg-7 fw-bold text-nowrap" href="#">市值</a>
          </li>
          <li class="nav-item  py-lg-10 ps-lg-12 border-start-lg  border-lg-black">
            <a class="btn btn-primary fs-6 text-white border border-black w-100 p-3 d-lg-none ">連結錢包</a>
            <a class="nav-link fs-lg-4 fw-bold d-none d-lg-block" href="#"><i class="fa-solid fa-wallet"></i></a>
          </li>
        </ul>
      </div>
  </nav>
</header>

    <%- contents %>

  <footer class="border-top border-4 py-6 text-center">
    <p class="font-secondary">© ART NFT. All Rights Reserved</p>
  </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- <script src="https://masonry.desandro.com/masonry.pkgd.js"></script> -->
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>